{% extends "layout.html" %}

{% block body %}


<div class="image-container">
    <!-- Image on the left -->
    <img src="{{ url_for('static', filename='images/pablo.jpg') }}" alt="pablo's pic">
    
    <!-- Text on the right -->
    <div class="text-content">
        <h2>About Tactus Massage & Wellness</h2>
        <p>Pablo Cohen LMT # 7863
Pablo Cohen is a licensed massage therapist and graduate of East-West College of 
the Healing Arts in Portland, OR. He has over 26 years of experience working under 
the guidance of chiropractors, medical & Naturopathic doctors in the Portland area. 
Pablo also has worked in the community as a continuing Ed. instructor of massage 
therapy, physical fitness & nutrition coach. He has additional credentials and 
certifications in Medical Massage Therapy, Chiropractic Assistant, Rhythmical 
massage, Active Release Technique (ART), Trigger Point Therapy, Neuromuscular 
Reeducation, Orthopedic, Lomi Lomi, Sport and Thai Massage, Deep Tissue, 
Swedish/Relaxation, Trigger Point Therapy, Neuromuscular Therapy & Prenatal Massage 
to mention a few. Pablo specializes in serving people with chronic pain and injury, 
often related to auto, work or congenital injuries. Raised in the mountains of 
Venezuela, Pablo was exposed to the natural and spiritual elements of human healing 
very early on in life. His work combines this knowledge with modern training in 
structural health and healing. Pablo believes that massage has the power to free 
people of physical pain and injury to bring them to a higher level of healing 
through education , enriching the patients tool belt of self knowledge and 
actualization.
</p>
<p>
 "After serving the community for 26 years I am  hopeful that you will allow me to 
care for you."
</p></p>
    </div>
</div>


{% endblock %}



